*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
input{
  border: 1px solid #dfe1e5;
  padding: 10px 70px;
  border-radius: 24px;
}
a{
  color: #000;
  text-decoration: none;
  padding: 0 10px;
}
a:hover{
  text-decoration: underline;
}
.header-nav-bar {
  padding: 30px;
  text-align: center;

}
.header-nav-item{
  
  float: left;
}
.header-nav-item2{
  
  float: right;
}
.google-logo{
  clear: both;
  text-align: center;
  padding: 17px;
  padding-top: 120px;
}

input:hover{
  box-shadow: 2px 2px 5px grey;
}
.search-form{
  text-align: center;
}
.button-container{
  padding: 35px;
}
.link-under-search{
  text-align: center;
  color: #609;
}
.footer{
  padding: 20px 0;
  width: 100%;
  background-color: gainsboro;
  position: absolute;
  bottom: 0;
}
.footer-left{
  
  float: left;
  padding-left: 30px;
}
.footer-right{
  
  float: right;
  padding-right: 30px;
}
.button-style{
  padding: 12px;
  margin: 5px;
  border: 2px solid white;
  border-radius: 10px;
  color: #5F6368;
}
.button-style:hover{
  border: 2px solid #dfe1e5 !important;
  border-radius: 10px;
  color: #222;
}